<<<<<<< HEAD
.listStyle {
    display: block;
    padding: 10px;
    border-bottom: solid 1px #ced4da;
    text-decoration: none;
}

.search_style {
    margin-top: 20px;
}
.loaded {
    display: none;
=======
.listStyle {
    display: block;
    padding: 10px;
    border-bottom: solid 1px #ced4da;
    text-decoration: none;
>>>>>>> 2ac6b3bd0dac6a6ef69429ff4a69a983e46a25d4
}