.listStyle {
    display: block;
    padding: 10px;
    border-bottom: solid 1px #ced4da;
    text-decoration: none;
}

.search_style {
    margin-top: 20px;
}
.loaded {
    display: none;
}

.green_light{
    color: lightgreen;
    font-weight: bold;
}

.red_light {
    color: red;
    font-weight: bolder;
}

.flexible{
    display: flex;
    align-items: center;
}

.logoSize {
    max-height: 40px;
    margin-right: 40px;
}

.symbolColor {
    color: grey;
}